@use "theme"; /* load theme module */
@use "animations";

/* Media Rules */
// @media (max-width: 767px) {
//     #tabs {
//         position: static; 
//         width: 100%;
//     }
// }

/* Selectors */
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    margin: 10px;
    min-height: 100%;
}

nav {
    padding: 10px;
    font-size: 16px;
    font-size: 4vw;
}

nav > a {
    padding-left: 5px;
    padding-right: 5px;
}

header {
    padding: 15px;
    margin: 10px;
}



footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form {
    display: inline;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

svg {
    opacity: 0.5;
}

svg:hover {
    opacity: 1;
}

section > p {
    text-indent: -29px;
    padding-left: 29px;
}

/* Classes */
.main-title {
    font-size: 42px;
    font-size: 11vw;
}

.sub-title {
    font-size: 22px;
    font-size: 6vw;
}

#sidebar {
    padding-left: 10px;
    padding-right: 10px;
}

#settings-icon {
    float: right;
}

#cursor {
    border-right: solid 3px grey;
}