/* CSS animations */

#cursorElement{
    font-size: 2em;
    animation-name: cursorBlink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes cursorBlink {
    0% {
       opacity: 1;
    }
    50% {
       opacity: 0;
    }
}

@keyframes typing {
    0% {
        width: 0%; 
    }
    100% {
        width: 100%;
    }
}


@keyframes titleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dynamicText {
    0% {
        width: 200%;
        margin-left: 60%; 
        opacity: 0;

    }
    100% {
        width: 100%;
        margin-left: 0%;
        opacity: 1;
    }
}

/* ----- Base Rules ----- */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #000;
    color: #fff;
    /* padding-bottom: 60px; */ /* footer height */
}

.page-generic {
    width: 100%; 
    margin: 0 auto;
    height: 80vh; 
}

header {
    height: 20vh; /* 20% viewport height */
}

footer {
    color: #fff;
    font-size: 2vw;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 7px #fff;
    opacity: 1;
}

.main-content {

}

/* -----     ----- */
#profile-icon {
    float: left;
}

#name {
    float: right;
}


.banner-left > *{
    display: inline;
    margin: 0;
    top: 0;
}

#name {
    list-style-type: none;
}

#intro > * {
    /* display: inline;*/
    margin: 0 auto;
}

#intro-message {
    /*animation: typing 4s; */
    text-align: center;
    animation: titleFade 1.5s;
    font-size: 3.5vw;
}

#about {
    font-size: 3vw;
}

#about > h3 {
    text-align: center;
    animation: titleFade 1.5s;
}


#item1{
    animation-name: dynamicText;
    animation-duration: 1.6s;
}

#item2{
    animation-timing-function: ease;
    animation-name: dynamicText;
    animation-duration: 1.6s;
    animation-delay: .3s;
}

#item3{
    animation-timing-function: ease;
    animation-name: dynamicText;
    animation-duration: 1.6s;
    animation-delay: .6s;
}

#bio {
    overflow: hidden;
    text-align: center;
}

/*
#container {
    min-height: 100%;
    position: relative;
    font-weight: 400;
} */



#menu {
    position: fixed;
    top: 100px; 
    right: 0;
}


#menu .menu-tab {
    display: block;
    padding: 30px 0 30px 0; 
}

@media screen and (max-width: 600px) {
    #menu {
        float: none;
        width: 100%;
        /*max-width: 600px; */
        margin: 0 auto;
        top: 0;
        position: relative;
        padding: 0;
        background: pink;
        text-align: center; 
    }
    #menu .menu-tab {
        display: inline-block;
        padding: 0 15px;
        border: none;
    }
    .banner-left {

    }
}



/* #menu a {
    padding: 40px 0px 40px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    opacity: .93;
} */


#menu ul {
    height: 300px;
    background-color: #212121;
    margin-top: 100px;
    text-align: center;
    padding: 20px 0 20px 0;
    float: right;
}
#menu li {
    height: 15%;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
} 


#github_banner {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 10px 50px 10px 20px;
    color: #fff;
    opacity: 0.93;
    background: url("../images/blacktocat.png") no-repeat 95% 50%;
    font-weight: bold;
    font-size: 14px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    /*border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; */
}


#github_banner:hover {
    text-shadow: 0 0 7px #fff;
    opacity: 1;
}


/*
#about{
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 200px;
    text-align: center;
}

#about h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    padding: 20px;
}


.article {
    width: 500px; 
    height: 600px;
    background: #212121;
}



/*
#bio {
    margin: auto;
    list-style: inside; 
}
/*display: inline-block;*/



/*
footer p {
    padding: 10px 15px 0px 15px;
}
*/


