/* CSS animations */

#cursorElement{
    font-size: 2em;
    animation-name: cursorBlink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes cursorBlink {
    0% {
       opacity: 1;
    }
    50% {
       opacity: 0;
    }
}

@keyframes typing {
    0% {
        width: 0%; 
    }
    100% {
        width: 100%;
    }
}


@keyframes titleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dynamicText {
    0% {
        width: 200%;
        margin-left: 60%; 
        opacity: 0;

    }
    100% {
        width: 100%;
        margin-left: 0%;
        opacity: 1;
    }
}

/* ----- Base Rules ----- */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #000;
    color: #fff;
}

.page-generic {
    width: 100%; 
    margin: 0 auto;
    height: 80vh; 
}

header {
    height: 20vh; /* 20% viewport height */
}

footer {
    color: #fff;
    font-size: 2vw;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 7px #fff;
    opacity: 1;
}

.nav {
    height: 100%;
    /*float: right; */
    z-index: 1;
    position: fixed;
    right: 0;
    overflow-x: hidden;
    padding-top: 200px;

}

.nav a {
    display: block;
    padding: 0px 20px 0px 0px;
    height: 15vh;
    opacity: .83;
}

.nav a:hover {
    text-shadow: 0 0 7px #fff;
    opacity: 1;
}

.main-content {
    position: relative;
}
#container {
}

/* -----     ----- */

@media screen and (max-width: 600px) {
    header {
    }

    .nav {
        top: 0;
        left: 0;
        float: left;
    }
    .nav a {
        display: inline-block;
        padding; 5px 20px 0px 20px;

    }

    #github_banner {
        

    }
}

#github_banner {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 50px 10px 20px;
    color: #fff;
    opacity: 0.93;
    background: url("../images/profile-icon.png") no-repeat 95% 50%;
    font-weight: bold;
    font-size: 14px;
}


#github_banner:hover {
    text-shadow: 0 0 7px #fff;
    opacity: 1;
}

#intro > * {
    /* display: inline;*/
    margin: 0 auto;
}

#intro-message {
    /*animation: typing 4s; */
    text-align: center;
    animation: titleFade 1.5s;
    font-size: 3.5vw;
}

#about {
    font-size: 3vw;
}

#about > h3 {
    text-align: center;
    animation: titleFade 1.5s;
}


#item1{
    animation-name: dynamicText;
    animation-duration: 1.6s;
}

#item2{
    animation-timing-function: ease;
    animation-name: dynamicText;
    animation-duration: 1.6s;
    animation-delay: .3s;
}

#item3{
    animation-timing-function: ease;
    animation-name: dynamicText;
    animation-duration: 1.6s;
    animation-delay: .6s;
}

#bio {
    overflow: hidden;
    text-align: center;
    list-style: none;
}




