/* --- Solarized color palette --- */

$base-00: #657b83; /* Light body text/primary content. */
$base-01: #586e75; /* If Light: emphasized content. If Dark: comments/secondary content. */
$base-02: #073642; /* Dark background highlights. */
$base-03: #002b36; /* Dark background. */

$base-0: #839496; /* Dark body text/primary content. */
$base-1: #93a1a1; /* If Light: comments/secondary content. If Dark: emphasized content. */
$base-2: #eee8d5; /* Light background highlights. */ 
$base-3: #fdf6e3; /* Light background. */

/* Accent tones */
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

/* Global variables */
:root {
    --yellow: $yellow;
    --orange: $orange;
    --red: $red;
    --magenta: $magenta;
    --violet: $violet;
    --blue: $blue;
    --cyan: $cyan;
    --green: $green;
}

/* Reset Styling */
* {
    vertical-align: baseline;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: Menlo, Monaco, "Roboto Mono", monospace;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

/* Light Theme */
.light-theme {
    &.background {
        background-color: $base-3;
    }

    .background-highlights {
        background-color: $base-2;
    }

    ::selection {
        background-color: $base-2;
    }

    .primary-content {
        color: $base-00;
    }

    .secondary-content {
        color: $base-1;
    }

    .parenthesis {
        color: $base-1;
    }

    .emphasized-content {
        color: $base-01;
    }

    svg {
        fill: #000000;
    }
}

/* Dark Theme */ 
.dark-theme {
    &.background {
        background-color: $base-03;
    }

    .background-highlights {
        background-color: $base-02;
    }

    ::selection {
        background-color: $base-02;
    }

    .primary-content {
        color: $base-0;
    }

    .secondary-content {
        color: $base-01;
    }

    .parenthesis {
        color: $base-01;
    }

    .emphasized-content {
        color: $base-1;
    }

    svg {
        fill: #FFFFFF;
    }
}

/* ------------------ */

/* Accent Tones */
header {
    color: $cyan;
}

footer {
    color: $yellow;
}

section h1 {
    color: $blue;
}

a {
    color: $blue;
}

a:hover {
    color: $violet;
}

.tab {
    color: $blue;
}

.keyword-emphasis {
    color: $magenta;
}

#my-name {
    color: $orange;
}

#hello {
    color: $green;
}

#love {
    color: $red;
}

#love-this {
    color: $violet;
}


